header {
  min-width: 80px;
  background: linear-gradient(90deg, #ed3cca, #7c1af8);
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding: 10px;
  justify-content: center;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
}
header__logo {
  background-image: url(../assets/header-tab-svg/logoWb.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 50px;
  width: 260px;
  display: none;
}
header__searchInput {
  height: 40px;
  width: 100%;
  padding: 15px;
  font-size: 15px;
  border-radius: 15px;
}
header__btnBasket {
  display: none;
  height: 40px;
  background-color: transparent;
  background-image: url(../assets/header-tab-svg/basket.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 40px;
  color: rgba(255, 255, 255, 0.6);
  position: relative;
}
header__btnBasket:hover {
  color: #ffffff;
}

.header__red-circle {
  background-color: #F55123;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 25px;
  color: #ffffff;
}
.header__wrapper {
  width: 100%;
  height: 100%;
  max-width: 1504px;
  display: flex;
  padding: 0 16px;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  justify-content: space-between;
  position: relative;
}
.header__logo {
  background-image: url(../assets/header-tab-svg/logoWb.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 50px;
  width: 260px;
  display: none;
}
.header__searchInput {
  height: 40px;
  width: 100%;
  padding: 15px;
  font-size: 15px;
  border-radius: 15px;
}
.header__btnBasket {
  display: none;
  height: 40px;
  background-color: transparent;
  background-image: url(../assets/header-tab-svg/basket.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 40px;
  color: rgba(255, 255, 255, 0.6);
}
.header__btnBasket:hover {
  color: #ffffff;
}

.tabBar {
  min-width: 80px;
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  height: 50px;
  padding: 15px;
  z-index: 10;
}
.tabBar__red-circle {
  background-color: #F55123;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  color: #ffffff;
  right: 5px;
}
.tabBar__home {
  width: 50px;
  background-color: transparent;
  background-image: url(../assets/header-tab-svg/home-gray.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.tabBar__home:hover {
  background-image: url(../assets/header-tab-svg/home-hover.svg);
}
.tabBar__basket {
  width: 50px;
  background-color: transparent;
  background-image: url(../assets/header-tab-svg/basket-gray.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.tabBar__basket:hover {
  background-image: url(../assets/header-tab-svg/basket-hover.svg);
}

@media (min-width: 1024px) {
  header {
    height: 115px;
    padding: 20px;
  }
  .header__wrapper {
    max-width: 1504px;
    padding: 0 32px;
  }
  .header__searchInput {
    height: 60px;
    font-size: 18px;
  }
  .header__logo {
    display: block;
  }
  .header__btnBasket {
    display: block;
  }
  .tabBar {
    display: none;
  }
}
.search-history {
  list-style: none;
  padding: 20px 0 0;
  margin-top: 5px;
  background: white;
  border: 1px solid #ccc;
  position: absolute;
  top: 0px;
  z-index: 1000;
  width: 100%;
  max-width: 1144px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.search-history-item {
  padding: 8px 12px;
  cursor: pointer;
}

.search-history-item:hover {
  background-color: #f0f0f0;
}/*# sourceMappingURL=header.css.map */