header {
    min-width: 80px;
    background: linear-gradient(90deg, #ED3CCA, #7C1AF8);
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding: 10px;
    justify-content: center;
    width: 100%;
    position: sticky;
    top: 0;

    &__logo {
        background-image: url(../assets/header-tab-svg/logoWb.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 50px;
        width: 260px;
        display: none;
    }

    &__searchInput {
        height: 40px;
        width: 100%;
        padding: 15px;
        font-size: 15px;
        border-radius: 15px;
    }

    &__btnBasket {
        display: none;
        height: 40px;
        background-color: transparent;
        background-image: url(../assets/header-tab-svg/basket.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        padding-top: 40px;
        color: #ffffff99;

        &:hover {
            color: #ffffff;
        }
    }
}

.header {
    &__wrapper {
        width: 100%;
        height: 100%;
        max-width: 1504px;
        display: flex;
        padding: 0 16px;
        align-items: center;
        column-gap: 20px;
        justify-content: space-between;
    }

    &__logo {
        background-image: url(../assets/header-tab-svg/logoWb.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 50px;
        width: 260px;
        display: none;
    }

    &__searchInput {
        height: 40px;
        width: 100%;
        padding: 15px;
        font-size: 15px;
        border-radius: 15px;
    }

    &__btnBasket {
        display: none;
        height: 40px;
        background-color: transparent;
        background-image: url(../assets/header-tab-svg/basket.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        padding-top: 40px;
        color: #ffffff99;

        &:hover {
            color: #ffffff;
        }
    }
}

.tabBar {
    min-width: 80px;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    height: 50px;
    padding: 15px;

    &__home {
        width: 50px;
        background-color: transparent;
        background-image: url(../assets/header-tab-svg/home-gray.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
            background-image: url(../assets/header-tab-svg/home-hover.svg);
        }
    }

    &__basket {
        width: 50px;
        background-color: transparent;
        background-image: url(../assets/header-tab-svg/basket-gray.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
            background-image: url(../assets/header-tab-svg/basket-hover.svg);
        }
    }
}

@media (min-width: 1024px) {
    header {
        height: 115px;
        padding: 20px;
    }

    .header {
        &__wrapper {
            max-width: 1504px;
            padding: 0 32px;
        }

        &__searchInput {
            height: 60px;
            font-size: 18px;
        }

        &__logo {
            display: block;
        }

        &__btnBasket {
            display: block;
        }
    }

    .tabBar {
        display: none;
    }
}