@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}

.productContainer {
  width: 100%;
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  grid-template-columns: repeat(2, calc(50% - 4px));
  grid-auto-flow: dense;
  gap: 8px;
  display: grid;
  justify-content: center;
  align-items: stretch;
  background-color: #f4f4f4;
}

.card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: auto;
  border-radius: 12px;
  overflow: hidden;
  background: #fff;
}
.card__top-wrap {
  width: 100%;
  overflow: hidden;
  border-radius: 12px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.card__top-wrap__image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
}
.card__price {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 20px;
}
.card__finalPrice {
  color: #ff3b30;
  font-family: Roboto;
  font-weight: 800;
  font-size: 18px;
}
.card__initailPrice {
  color: #868695;
  text-decoration: line-through;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.card__sale-wrap {
  background-color: #ff3b30;
  position: relative;
  top: -55px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 8px;
}
.card__sale-wrap__sale {
  padding: 3px;
  color: #fff;
  font-family: Roboto;
  font-weight: 800;
  font-size: 12px;
  z-index: 5;
}
.card__name-wrap {
  display: flex;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.card__brand {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  height: 48px;
  flex-shrink: 0;
}
.card__name {
  color: #9d9da5;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0;
  flex-shrink: 1;
}
.card__button {
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  background-color: #6f2dbd;
  padding: 7px 5px 5px;
  border: none;
  display: flex;
  width: 100%;
  gap: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
}
.card__button-two {
  background-color: #eedcea;
  color: #6f2dbd;
  font-weight: 800;
}
.card__show-button {
  opacity: 0;
  color: black;
  position: relative;
  top: -152px;
  z-index: 5;
  padding: 7px 5px 5px;
  border: none;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
}
.card__icon {
  fill: white;
  transition: fill 0.3s;
}
.card__icon-path {
  fill: white;
}

.card:hover .card__show-button {
  opacity: 0.9;
}

.container__margin {
  margin-top: 20px;
}

.containerEmptyWrapper {
  margin: 20px 5px 0 20px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  grid-column: 1/-1; /* сообщение занимает всю ширину */
  grid-row: 1/span 2; /* максимум первые две строки */
}

.emptyMessage {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 350px;
  max-width: 600px;
  /* Центрируем по горизонтали, если нужно */
  justify-self: start; /* или center — если хочешь по центру */
  /* Ограничиваем по строкам */
}

.emptyMessage-sub {
  justify-self: start; /* или center — если хочешь по центру */
}

.containerEmptyWrapper::before {
  content: "";
  background-image: url(../assets/not-found.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  flex-shrink: 0;
  width: 90px;
  height: 80px;
  margin: 0 0 0 34px;
  display: block;
}

@media (min-width: 768px) {
  .productContainer {
    grid-template-columns: repeat(4, calc(25% - 6px));
    row-gap: 15px;
  }
}
@media (min-width: 1024px) {
  .productContainer {
    row-gap: 20px;
  }
  .containerEmptyWrapper {
    flex-direction: row-reverse;
    justify-content: flex-end;
    display: flex;
  }
}
@media (min-width: 1280px) {
  .productContainer {
    grid-template-columns: repeat(6, calc(16.6667% - 25px));
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  30% {
    stroke-dashoffset: 45;
  }
  100% {
    stroke-dashoffset: 187;
  }
}
@keyframes colors {
  0% {
    stroke: #ec4df0;
  }
  25% {
    stroke: #e639ca;
  }
  50% {
    stroke: #ac43fe;
  }
  75% {
    stroke: #7a18dd;
  }
  100% {
    stroke: #ec4df0;
  }
}
.loader {
  animation: spinner 1.4s linear infinite;
  width: 64px;
  height: 64px;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.path {
  fill: none;
  stroke-width: 6;
  stroke-linecap: round;
  stroke-dasharray: 187;
  transform-origin: center;
  animation: dash 1.4s linear infinite, colors 5.6s ease-in-out infinite;
}/*# sourceMappingURL=productcard.css.map */