@forward "reset";
@forward "header";
@use "product-info-modal";
// Основные цвета Wildberries
$wb-purple-primary: #6f2dbd; // Логотип, кнопки "Купить", важные акценты
$wb-purple-secondary: #8a4fff; // Фон верхнего меню, подложки, иконки
$wb-white: #ffffff; // Основной фон сайта, текст на тёмном фоне
$wb-black-text: #212121; // Основной цвет текста, заголовки
$wb-light-gray: #f4f4f4; // Фон карточек товаров, границы, разделители
$wb-alert-red: #ff3b30; // Ошибки, уведомления, предупреждения

body {
  background-color: $wb-white; // фон страницы — белый
  color: $wb-black-text; // цвет текста — тёмно-серый
}