.toast {
  position: fixed;
  left: 45%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: none;
  z-index: 2500;
  opacity: 0;
  animation-name: slideDownUp;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.toast_show {
  display: block;
}

@keyframes slideDownUp {
  0% {
    transform: translateY(-500px);
    opacity: 0;
  }
  20% {
    transform: translateY(-150px);
    opacity: 1;
  }
  80% {
    transform: translateY(-150px);
    opacity: 1;
  }
  100% {
    transform: translateY(-500px);
    opacity: 0;
  }
}